.banner{
  background-image: url('../images/background.png');
  background-size: cover;
  background-position: center;
  padding: 250px 0;
  justify-content: space-around;
}

.banner h1{
  font-size: 30px;
  color: white;
  margin: 0;
}
.banner p{
  font-size:20px;
  color: white;
  margin: 0;
  position: relative;
  top: 20px;
}

.banner a{
  text-decoration: none;
  color: white;
  background-color: #21bf73;
  padding: 10px 25px;
  border-radius: 15px;
  position: relative;
  top: 50px;
}

